/*
   * Remove template code below
   */
:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 1500px;
  margin: 15px auto;
}

header {
  background-color: white;
  padding: 5px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

h1 {
  text-align: center;
  margin-left: 18px;
  font-size: 24px;
}
h2 {
  text-align: center;
  margin-left: 18px;
  font-size: 20px;
}
pre {
  padding: 9px;
  border-radius: 4px;
  background-color: black;
  color: #eee;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  padding: 0px;
  margin: 0px;
  > * {
    flex: 1 1 auto;
    margin: 8px;
  }
  > div {
    border-radius: 4px;
    border-color: #333 1px solid;
  }
}

.left-label {
  max-width: 250px;
  background-color: #ccc;
  padding: 8px;
  button {
    width: 100%;
    margin-top: 8px;
  }
}
